$left-column-width: 30%;
$header-font-size: 20px;
$sub-header-font-size: 15px;
.container {

}
.page {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    background-color: blue;
    padding: 20px;
    letter-spacing: 3px;
    &__img{
        width: $left-column-width;
    }
    &__title{
        flex-grow: 1;
        padding: 20px 30px;
        border: 1px solid #fff;
        text-transform: uppercase;
        text-align: center;
    }
}
.title{
    
    &__name{
        position: relative;
        margin: 0;
        padding-bottom: 20px;
        &::after{
            position: absolute;
            display: block;
            content: '';
            width: 80%;
            border-bottom: 2px solid black;
            top: 75%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__job{
        margin: 0;
    }
}
.links {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: chocolate;
}
.content{
    display: flex;
    padding: 15px 5px;
    &-left{
        flex: 0 0 $left-column-width;
    }
}
.section{
    &__header{
        display: flex;
        align-items: center;
    }
    &__image{
        height: 30px;
        padding-right: 5px;
    }
    &__title{
        margin: 0;
        text-transform: uppercase;
    }
    &__content{
        padding: 5px 10px 10px 35px;
    }
}

.profile{
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.column {
    &__section {
        margin-bottom: 15px;
        &__title{
            padding-bottom: 15px;
            font-size: $header-font-size;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -15px;
        }
    }
}
.list-element {
    display: block;
}

.technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 15px 15px;
    &__image{
        width: 50px;
        height: 50px;
    }
    &__name{
        margin: 0;
        padding-top: 10px;
        font-size: $sub-header-font-size;
    }
}

.experience-element {

    &__title{
        font-size: $header-font-size;
        font-weight: bold;
        letter-spacing: normal;
    }
    &__date{
        font-size: 13px;
        font-style: italic;
    }
    &__description{
        line-height: 1.2;
        padding-top: 10px;
    }
}

.description{
    &-header{
        text-decoration: underline;
        font-weight: bold;
        font-size: $sub-header-font-size;
    }
    &-content{
        font-size: 15px;
    }
}
